@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Fanfic.Pages.SearchResultModel
@{
    Layout = "../Views/Shared/_Layout.cshtml";
}

<div class="container">
    @if (Model.Tales.Count != 0)
    {
    <div class="card-columns">
        @foreach (var tale in Model.Tales)
        {
        <div class="card text-white bg-dark current-tale" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title text-center text-capitalize">@tale.Name</h3>
                <h5 class="text-left" style="text-decoration: underline;">@tale.Ganre.ToString()</h5>
                <p class="card-text">@tale.ShortDiscription</p>
                <a href="/TaleDetails?taleId=@tale.Id" class="btn btn-primary">Read</a>
            </div>
            <div class="card-footer text-muted">
                <div class="text-left">
                    <div class="row" style="margin-left: 0px;">
                        <input id="@tale.Id" type="text" class="rating" value="@tale.AverageRating" data-size="xs" data-show-clear="false" data-show-caption="false">
                        <span style="margin-left:10px;">@tale.NumberOfRatings votes</span>
                    </div>
                    @tale.CreationTime.ToShortDateString()
                </div>
                <p>
                    @foreach (var tag in tale.Tags)
                        {
                            <a href="/SearchResult?handler=SearchByTag&tagName=@tag.Name" class="card-link">#@tag.Name</a>
                        }
                </p>
            </div>
        </div>
        }

    </div>
    }
    else
    {
        <h2 style="margin-top:100px;">Ooops, nothing was found!</h2>
    }
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/lib/star-rating/star-rating.min.js"></script>
<script src="~/js/searchResult.js"></script>