@page
@using Fanfic.Data
@model Fanfic.Areas.Identity.Pages.Account.Manage.TalesModel
@{

}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<link rel="stylesheet" href="~/css/site.css" />

<div id="tales">
    <!-- Create Tale Modal -->
    <div class="modal fade" id="createTale">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create a new tale</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>x</span>
                    </button>
                </div>
                <form method="post" asp-page="Tales" asp-page-handler="CreateTale">

                    <div class="modal-body">
                        <div class="form-group">
                            <label asp-for="Input.Name"></label>
                            <input asp-for="Input.Name" id="inputName" class="form-control" />
                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Ganre"></label>
                            <select asp-for="Input.Ganre" id="inputGanre" class="form-control" asp-items="@Html.GetEnumSelectList<Tale.TaleGanre>()">
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ShortDescription"></label>
                            <textarea asp-for="Input.ShortDescription" class="form-control" id="inputShortDescription"></textarea>
                            <span asp-validation-for="Input.ShortDescription" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label>Tags</label>
                            <div id="autocompleteDiv" class="row">
                                <input type="text" id="inputTag" class="form-control" />
                                <button type="button" class="transparent-button" onclick="addTag();"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                <ul id="addedTags" class="tags-list"></ul>
                                <input asp-for="Input.Tags" hidden="hidden" id="hiddenTags">
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-success" value="Add">
                    </div>
                </form>


            </div>

        </div>
    </div>
    <!-- -->
    <div class="container row">
        <div class="col-8">
            @if (Model.Tales.Count == 0)
            {
                <p>Tales not found</p>
            }
            else
            {

                @foreach (var tale in Model.Tales)
                {
                    <div class="card text-white bg-dark current-tale" style="width: 24rem; margin: 20px;">
                        <div class="card-body">
                            <h3 class="card-title text-center text-capitalize">@tale.Name</h3>
                            <h5 class="text-left" style="text-decoration: underline;">@tale.Ganre.ToString()</h5>
                            <p class="card-text">@tale.ShortDiscription</p>
                            <a href="/TaleDetails?taleId=@tale.Id" class="btn btn-primary">Read</a>
                        </div>
                        <div class="card-footer text-muted">
                            <div class="text-left">
                                <div class="row" style="margin-left: 0px;">
                                    <input id="@tale.Id" type="text" class="rating" value="@tale.AverageRating" data-size="xs" data-show-clear="false" data-show-caption="false">
                                    <span style="margin-left:10px;">@tale.NumberOfRatings votes</span>
                                </div>
                                @tale.CreationTime.ToShortDateString()
                            </div>
                            <p>
                                @foreach (var tag in tale.Tags)
                                {
                                    <a href="/SearchResult?handler=SearchByTag&tagName=@tag.Name" class="card-link">#@tag.Name</a>
                                }
                            </p>
                        </div>
                    </div>
                }

            }
        </div>
        <div class="col-4">
            <a href="#createTale" data-toggle="modal" class="btn create-tale-button">Create new</a>

            <form method="get">
                <h4>Filter by ganre:</h4>
                <select name="filterGanre" asp-items="@Html.GetEnumSelectList<Tale.TaleGanre>()" class="form-control">
                    <option value="">All</option>
                </select>
                <h4>Sort by:</h4>
                <select name="sortType" asp-items="@Html.GetEnumSelectList<Fanfic.Services.Sorter.SortState>()" class="form-control">
                </select>
                <input type="submit" value="Filter" class="btn create-tale-button" />
            </form>
        </div>

    </div>

    @await Html.PartialAsync("_PaginationNavigation", Model.PageInfo)
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/star-rating/star-rating.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script>
    $(document).ready(function () {
        $('#inputTag').autocomplete({
            source: '@Url.Page("Tales", "AutocompleteSearch")',
            appendTo: "#autocompleteDiv",
            minLength: 2
        });
    });
</script>
<script src="~/js/accountTales.js"></script>