@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Fanfic.Data
@model Fanfic.Data.Tale



<a href='/TaleDetails?taleId=@Model.Id'>@Model.Name</a>
<p>@Model.Id</p>
<p>@Model.Name</p>
<p>@Model.ShortDiscription</p>
<p>@Model.CreationTime.Date</p>
<input type="text" class="rating" value="@Model.AverageRating" data-size="xs" data-show-clear="false" data-show-caption="false" readonly="readonly">
<p>@Model.NumberOfRatings votes</p>
<p>tags: </p>
<ul class="tags-list">
    @foreach (var tag in Model.Tags)
    {
        <li>@tag.Name</li>
    }
</ul>