@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Fanfic.Data
@model Fanfic.Data.Tale



<p><a href='/TaleDetails?taleId=@Model.Id'>@Model.Name</a></p>
<label>@Model.ShortDiscription</label>
<div style="align-content:center;">
    <label style="float:left;">@Model.CreationTime.Date.ToShortDateString()</label>
    <div class="row" style="float:right;">
        <input type="text" class="rating" value="@Model.AverageRating)" data-size="xs" data-show-clear="false" data-show-caption="false" readonly="readonly">
        <label>@Model.NumberOfRatings</label>
    </div>
    <p>tags: </p>
    <ul class="tags-list">
        @foreach (var tag in Model.Tags)
        {
            <li>@tag.Name</li>
        }
    </ul>
</div>

